body {
    background-color: rgb(212, 212, 212);
  }
  h1 {
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    margin:0 auto;
    text-align: center;
    
  }
  
    